{{ partial "header" . }}
    {{ $.Scratch.Set "shareNav" true }}
    {{ partial "navbar" . }}
    <!-- Main -->
    <div id="main">
        {{ range first 3 (where .Site.Pages "Type" "post") }}
            {{ .Render "content-list" }}

            {{ partial "share-menu" . }}
        {{ end }}

        {{ if ge (len (where .Site.Pages "Type" "post")) ($.Scratch.Get "postLimit") }}
        <a href=
          {{ with .Site.Params.viewMorePostLink }}
            {{ . }}
          {{ else }}
            "/post/"
          {{ end }}
        class="button">View more homilies</a>
        {{ end }}
    </div>
    {{ partial "sidebar" . }}
{{ partial "footer" . }}
